<div th:fragment="headerfragment">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <style>
        .thumb-dropdown .dropdown-menu > li {
            position: relative;
        }

        .thumb-dropdown .dropdown-menu > li > a .thumbnail {
            position: absolute;
            left: 100%;
            top: -10px;
            display: none;
            width: 350px;
            height: auto;
            margin-left: 5px;
        }

        .thumb-dropdown .dropdown-menu > li > a:hover .thumbnail {
            display: block;
        }
    </style>

    <nav class="navbar navbar-dark bg-primary" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#dropdown-thumbnail-preview">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/weather">Weather</a>
            </div>

            <div class="collapse navbar-collapse" id="dropdown-thumbnail-preview">
                <form action="search" class="navbar-form navbar-left" role="search" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" name="q">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <div class="nav navbar-nav navbar-right">
                    <span th:text="${login}">username</span>
                    <a href="/weather/logout">
                        <button type="button" class="btn btn-default">Logout</button>
                    </a>
                </div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>