<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<div th:insert="header :: headerfragment"></div>
<body>
Index place
<br>
Основная страница
<br>
<div class="form-group">
    <a href="logout"><button type="button" class="btn btn-default">Ds[jl</button></a>
</div>
</body>
</html>