<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div th:insert="header :: headerfragment"></div>
<link rel="stylesheet" href="style.css">
<style>
    .locate-block {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
        transition: all .3s;
    }

    .locate-block:hover {
        box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
    }
</style>
<body>
<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6" th:each="element : ${list}">
                <form action="search" class="form-horizontal" method="post">
                    <div class="locate-block">
                        Город: <b th:utext="${element.name}"></b><br>
                        Ширина: <b th:utext="${element.lat}"></b><br>
                        Долгота: <b th:utext="${element.lon}"></b><br>
                        Страна: <b th:utext="${element.country}"></b><br>
                        Область: <b th:utext="${element.state != null} ? ${element.state} : '-'"></b><br>
                        <input type="hidden" name="name" th:value="${element.name}">
                        <input type="hidden" name="lat" th:value="${element.lat}">
                        <input type="hidden" name="lon" th:value="${element.lon}">
                        <button type="submit" class="btn btn-default">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
