html {
    font-size: 16px;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    background-color: white;
    min-width: 320px;
}
img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 50px 0;
    }

a {
    color: #c8c8c8;
}
a:hover {
    color: #11a3fc;
}

/*Locate*/
.locate-block {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    transition: all .3s;
}

.locate-block:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}
/*Locate*/